<div class="adverticements-list-container">
    <h2>Choose your Announcement</h2>
    <div class="search-container">
        <input type="text" placeholder="Search...">
        <select>
            <option value="all">All</option>
            <option value="selling">Selling</option>
            <option value="purchase">Purchase</option>
            <option value="services">Services</option>
            <option value="search">Search for Services</option>
        </select>
    </div>
    <div class="adverticements-items-container" *ngIf="adverticements">
        <app-adverticement-item 
            *ngFor="let advert of adverticements" 
            [adverticementElement]="advert"
        >
        </app-adverticement-item>
    </div>
</div>
